:root {
  --color-deep-ocean: #1A365D;
  --color-terracota: #E07A5F;
  --color-clear-sky: #4EA8DE;
  --color-warm-sand: #F4F1DE;
  --color-off-white: #FAFAFA;
  --color-charcoal: #2B2D42;
  --color-light-charcoal: #6C757D;
}

body {
  padding: 0;
  margin: 0;
}

button, a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
