// cores
$azul-escuro-total: #0077ff;
$azul-quase-escuro: #005fcc;
$preto-total: #000;
$preto-medio: #111;
$preto-leve: #222;
$branco-full: #fff;
$off-white: #f9f9f9;
$cinza-superescuro: #333;
$cinza-concreto: #555;
$outro-cinza: #9aa4b2;
$cinza-claro: #ccc;
$border-textarea: #d6dbe6;

// fontes
$font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
$font-size: 1rem;


// border-radius:
$border-radius: 6px;

// cursor
$cursor: pointer;