body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-nine {
    display: flex;
    gap: 1rem;
}

#list-input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

#list-input:focus {
    outline: none;
}

#add-btn {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: lightgreen;
    cursor: pointer;
}

#tasks-list {
    background-color: white;
    padding: 1rem 0.5rem;
    width: 18rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.list-and-btn {
    list-style: none;
    background-color: lightblue;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

.delete-btn {
    background-color: rgb(235, 91, 91);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
}